## 판다스?

테이터프레임(엑셀과 비슷) 과 시리즈라는 자료형  
데이터 분석을 위한 다양한 기능을 제공하는 라이브러리  
R의 데이터프레임에 영향  
내부적으로 numpy 를 사용하므로 함께 import  

http://pandas.pydata.org

기능요약  
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

# Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = [1, 2, 3, 4, 5]
pd.Series(x)

In [ ]:
x = np.array([1, 2, 3, 4, 5])
pd.Series(x) #Series는 index와 value값으로 구분

In [ ]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x)

print(x[0])
print(x[1: 3])
print(x[::-1]) #뒤집는거
print(x[x > 3]) #불리언인덱싱
print(x + 1) 
print(x * 10)
print(x + x)

# Series Index

In [ ]:
import pandas as pd
import numpy as np

x = [1, 2, 3, 4, 5]
x = pd.Series(x)
print(x.index)
print(x.values)

In [ ]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x, index=['a','b','c','d','e']) #인덱스설정
print(x)

print(x['a']) #명시적 인덱스접근
print(x[0]) #묵시적 인덱스접근
print(x[['a','e']]) #팬시색인, 한번에 여러값 접근
print(x.a)

In [ ]:
x = [1, 2, 3, 4, 5]
x = pd.Series(x, index=[1, 2, 3, 4, 5])

# x[0] 오류
print(x.iloc[0]) #묵시적 인덱스로만
print(x.loc[1]) #명시적 인덱스로만

## 딕셔너리 to Series

In [ ]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
x = pd.Series(x)

x

In [ ]:
print(x['수학'])

In [ ]:
print(x['영어':])

In [ ]:
x = {"수학":90, "영어":80, "과학":95, "미술":80}
x = pd.Series(x, index=["수학", "영어", "과학"])
x

## Multi Index

In [ ]:
student_1 = {"수학":90, "영어":80, "과학":95, "미술":80}
student_2 = {"수학":70, "영어":90, "과학":100, "미술":70}

In [ ]:

#index_1 = ['홍길동','홍길동','홍길동','홍길동','이몽룡','이몽룡','이몽룡','이몽룡']
index_1 = ['홍길동' for i in range(len(student_1))] + ['이몽룡' for i in range(len(student_2))]
print(index_1)

In [ ]:

#index_2 = ['수학','영어','과학','미술','수학','영어','과학','미술']
index_2 = [i for i in student_1] + [i for i in student_2]
print(index_2)

In [ ]:

value_all = list(student_1.values()) + list(student_2.values())
print(value_all)

In [ ]:
import pandas as pd
students = pd.Series(value_all, index=[index_1, index_2])
students

In [ ]:
students['홍길동']

In [ ]:
students['이몽룡']

## 결측값 처리방법 (NaN. None)

In [ ]:
x = [1, None, 2, None, 3, 4, None]
x = pd.Series(x)
print(x)

In [ ]:

print(x.sum())
print(x.max())
print(x.min())

#결측값 개수
print(x.isnull().sum())
print(x.notnull().sum())

#결측값 제거
print(x.dropna())

#결측값을 다른값으로 채우기
x.fillna(0)

## concat

In [ ]:
x = pd.Series([1, 2, 3])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

pd.concat([x, y, z]) #인덱스 그대로임

In [ ]:
pd.concat([x, y, z], verify_integrity=True) #같은 값의 인덱스가 있을경우 오류

In [ ]:
pd.concat([x, y, z], verify_integrity=False, ignore_index=True)

In [ ]:
pd.concat([x, y, z], verify_integrity=False, ignore_index=True, axis=1) #데이터프레임(2차원)

In [ ]:
x = pd.Series([1, 2, 3, 4])
y = pd.Series([4, 5, 6])
z = pd.Series([7, 8, 9])

In [ ]:
pd.concat([x, y, z], verify_integrity=False, ignore_index=True, axis=1, join='inner')

In [ ]:
pd.concat([x, y, z], verify_integrity=False, ignore_index=True, axis=1, join='outer')

## 연산과 집계함수

In [ ]:
x = pd.Series([1, 2, 3, 4, 5])
y = pd.Series([6, 7, 8, 9, 0])

In [ ]:

#더하기
print(x.add(10)) #각각에 10 더해짐
print(x.add(y)) #행렬합

In [ ]:

#빼기
print(x.sub(y))

In [ ]:

#곱하기
print(x.mul(y))

#나누기
print(x.floordiv(2)) #몫
print(x.div(2))
print(x.mod(2))

#제곱
print(x.pow(2))

In [ ]:

#기초통계
print(x.count())
print(x.min())
print(x.max())
print(x.mean())
print(x.median()) #중간값
print(x.sum())
print(x.std()) # 표준편차
print(x.var()) # 분산
print(x.mad()) # 절대표준편차
print(x.describe()) #기초통계모두

print(x.head(2)) #앞의 일부데이터 확인
print(x.tail(2)) #뒤의 일부데이터 확인

## 실습1

In [ ]:
import numpy as np
import pandas as pd
x = [np.nan,1,2,3,4,5]
#x배열에서 (0~5 index 중) 임의의 한개 원소를 가져온다
#list comprehension을 사용해서 임의로 20개를 선택한 배열을 만든다

y = pd.Series([x[np.random.randint(0,6)] for i in range(20)])
#print(y)
print(y.isnull().sum()) #false는 0으로 True는 1로 반환해서 더하면 개수임
a = y.dropna()
#print(a)
b = y.fillna(y.mean())

print(b)

# DataFrame

In [ ]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data

In [ ]:
sales_data['판매량']

In [ ]:
sales_data.iloc[2] #묵시적 접근

In [ ]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

pd.DataFrame(sales_data, columns=['판매량','매출','순이익'], index=sales_data['연도'])

In [ ]:
print(temp_df.loc[2017]) #명시적 인덱스 접근
print(temp_df.iloc[2]) #묵시적 인덱스 접근

## 파일생성

In [ ]:
%%writefile sales_data.csv
연도,판매량,매출,순이익
2015,103,500000,370000
2016,70,300000,190000
2017,130,400000,300000
2018,60,550000,480000
2019,190,700000,600000
2020,230,680000,590000

## CSV 파일읽기

In [ ]:
sales_data = pd.read_csv('sales_data.csv', index_col='연도', header=0, sep=',')
sales_data

## CSV 파일쓰기

In [ ]:
sales_data.to_csv('sales_data_save.csv', encoding='utf-8-sig')

In [ ]:
pd.read_csv('sales_data_save.csv',header=0, index_col='연도')

## 데이터 추가

In [ ]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data

In [ ]:
sales_data['순이익율'] = (sales_data['순이익']/sales_data['매출']) * 100
sales_data

In [ ]:
def check(n):
    if n > 80:
        return '높음'
    else:
        return '낮음'

sales_data['순이익율_비교'] = sales_data['순이익율'].apply(check)
#조건표현식: True_Value if 조건 else 
#sales_data['순이익율_비교'] = sales_data['순이익율'].apply(lambda n: '높음' if n > 80 else '낮음')
sales_data

## 데이터 추가 2

In [ ]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data

In [ ]:
sales_data[sales_data['매출'] > 300000]
sales_data['판매량']

In [ ]:
import numpy as np
sales_data['판매량'].apply(lambda x: 0 if x>200 else x)

In [ ]:
sales_data['테스트1'] = np.where(sales_data['판매량'] > 200, 0, sales_data['판매량'])
sales_data

In [ ]:
sales_data['테스트2'] = sales_data[sales_data['판매량'] < 100]['판매량'] + 50
sales_data

In [ ]:
sales_data.loc[6] = [2021, 720000,650000, 360, 0, 0]
sales_data

In [ ]:
sales_data.loc[7] = sales_data.loc[5] + 100
sales_data

## 데이터 삭제

In [ ]:
sales_data = {    
    '연도':[2015, 2016, 2017, 2018, 2019, 2020],
    '판매량':[103, 70, 130, 160, 190, 230],
    '매출':[500000, 300000, 400000, 550000, 700000, 680000],
    '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data = pd.DataFrame(sales_data)
sales_data['테스트1'] = 'test1'
sales_data['테스트2'] = 'test2'
sales_data['테스트3'] = 'test3'

sales_data

In [ ]:
del sales_data['테스트1']
sales_data

In [ ]:
sales_data.drop(['테스트2'], axis='columns', inplace=True)
sales_data

In [ ]:
sales_data.drop(['테스트3'], axis='columns', inplace=True)
sales_data

In [ ]:
sales_data.columns[[0,2]]
sales_data.columns

In [ ]:
sales_data.drop(sales_data.columns[[0, 2]], axis='columns', inplace=True)
sales_data

In [ ]:
sales_data.drop(0, inplace=True)
sales_data

In [ ]:
sales_data.drop([3, 4, 5], inplace=True) #3,4,5행 삭제
sales_data

In [ ]:
sales_data.reset_index(inplace=True)

In [ ]:
sales_data.drop(['index'],axis='columns') #초기화된 인덱스
sales_data.drop(sales_data.columns[0], axis='columns',inplace=True) #인덱스까지 다 삭제

## Dataframe MultiIndex

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 4)), index=[['A','A','B','B'],['a','b','a','b']], columns=[['가가','가가','나나','나나'],['가','나','가','나']])
df

In [ ]:
df['가가']

In [ ]:
df.loc['A']

In [ ]:
df.index

In [ ]:
df.columns

## GroupBy

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)), index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],['사과','배','바나나','사과','사과','배','바나나','배']], columns=['판매','재고'])
df.index.names = ['창고명','상품명']
df

In [ ]:
df.groupby('창고명').sum()

In [ ]:
df.groupby('창고명').max()

In [ ]:
df.groupby('창고명').min()

In [ ]:
df.groupby('상품명').sum()

In [ ]:
df.groupby(['창고명','상품명']).sum()

## sort_values

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)), index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],['사과','배','바나나','사과','사과','배','바나나','배']], columns=['판매','재고'])
df

In [ ]:
df.sort_values(by="판매", ascending=True)

In [ ]:
df.sort_values(by=["판매", "재고"], ascending=[True, False])

## 실습2

In [ ]:
from random import random
import pandas as pd
random_1 = np.random.randint(1,100, size=(15,3))
index_1 = ['1학년'] *5 + ['2학년']*5 +['3학년']*5
index_2 = [f'{i}반' for i in range(1,6)]*5
class_dataframe = pd.DataFrame(np.random.randint(1,100, size=(15,3)), index=[index_1], columns = ['국어','영어','과학'])

#class_dataframe
# class_dataframe['총점'] = class_dataframe['국어'] + class_dataframe['영어'] + class_dataframe['과학']
# class_dataframe['평균'] = class_dataframe['총점']/4
# class_dataframe.index.names = ['학년','반']
# x = class_dataframe.groupby('학년').sum()

In [ ]:
from dataclasses import dataclass
import pandas as pd
class_dataframe = pd.DataFrame(np.random.randint(1,100, size=(15,3)), index=[['1학년','1학년','1학년','1학년','1학년','2학년','2학년','2학년','2학년','2학년','3학년','3학년','3학년','3학년','3학년'],['1반','2반','3반','4반','5반','1반','2반','3반','4반','5반','1반','2반','3반','4반','5반']], columns = ['국어','영어','과학'])
class_dataframe['총점'] = class_dataframe['국어'] + class_dataframe['영어'] + class_dataframe['과학']
class_dataframe['평균'] = class_dataframe['총점']/4
class_dataframe.index.names = ['학년','반']
x = class_dataframe.groupby('학년').sum()

x

## 실습3

In [ ]:
titanic_data = pd.read_csv('train.csv',index_col='PassengerId',header=0,sep=',')
titanic_data

In [ ]:
titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)
titanic_data['Cabin'].fillna('N', inplace=True)
titanic_data['Embarked'].fillna('N')
titanic_data.groupby('Sex').sum()['Survived'] #성별 생존자 합계

In [ ]:
titanic_data.groupby('Pclass').sum()['Survived']

In [ ]:
def change_age(age):
    age = int(age)
    if age >= 70:
        return '노인'
    elif age >=10:
        return str(age//10) + '0대'
    else:
        return '유아'

In [ ]:
titanic_data['age_range'] = titanic_data['Age'].apply(change_age) #함수 적용

In [ ]:
titanic_data.groupby('age_range').sum()['Survived']

In [ ]:
import pandas as pd

student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2= pd.Series({'수학':80, '국어':90, '영어':80})

addition = student1+student2
substraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print('\n')

result = pd.DataFrame([addition, substraction, multiplication, division], index = ['덧셈','뺄셈','곱셈','나눗셈'])

print(result)

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'국어': np.nan, '영어':80, '수학':90})
student2= pd.Series({'수학':80, '국어':90})

addition = student1+student2
substraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print('\n')

result = pd.DataFrame([addition, substraction, multiplication, division], index = ['덧셈','뺄셈','곱셈','나눗셈'])

print(result)

In [ ]:
import pandas as pd
import numpy as np

student1 = pd.Series({'국어': np.nan, '영어':80, '수학':90})
student2= pd.Series({'수학':80, '국어':90})

sr_add = student1.add(student2, fill_value=0) #결측값 처리
sr_sub = student1.sub(student2, fill_value=0)
sr_mul = student1.mul(student2, fill_value=0)
sr_div = student1.div(student2, fill_value=0)


result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], index = ['덧셈','뺄셈','곱셈','나눗셈'])

print(result)

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.head())
print(type(df))

addition = df +10
print(addition.head())
print(type(addition))

subtraction = addition - df
print(subtraction.tail())
print('\n')
print(type(subtraction))

In [ ]:
file_path = './read_csv_sample.csv'
df1 = pd.read_csv(file_path)
print(df1)

df2 = pd.read_csv(file_path, header=None)
print(df2)

df3 = pd.read_csv(file_path, index_col=None)
print(df3)

In [ ]:
import pandas as pd
df1 = pd.read_excel("C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/남북한발전전력량.xlsx")

In [ ]:
df = pd.read_json("C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/read_json_sample.json")

In [ ]:
print(df)
print(df.index)

In [ ]:
df = pd.read_html("C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/sample.html")

In [ ]:
print(df)

In [ ]:
for i in range(len(df)):
    print("tables[%s]" %i)
    print(df[i])
    print('\n')

In [ ]:
df = pd.read_csv("C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/auto-mpg.csv", header=None)
df.columns = ['mpg', 'cylinders','displacement','horsepower','weight','accerleration','model year','origin','name']

print(df.head())

In [ ]:
print(df.describe()) #기술통계정보 확인
# print(df.describe(include='all'))

In [ ]:
print(df.count())
print(type(df.count()))

In [ ]:
unique_values = df['origin'].value_counts() #특정 열이 가지고 있는 고유값 확인
print(unique_values)
print('\n')

print(type(unique_values))

In [ ]:
print(df.mean())
print(df['mpg'].mean())
print(df.mpg.mean())
print(df[['mpg','weight']].mean())

In [ ]:
print(df[['mpg','weight']].corr())

In [ ]:
titanic = sns.load_dataset('titanic')
print(titanic.head())
print(titanic.info())

In [ ]:
import matplotlib.pyplot as plt
sns.set_style('darkgrid')
fig = plt.figure(figsize=(15,5)) #전체 사이즈
ax1 = fig.add_subplot(1,2,1) #1의 2열의 첫번째
ax2 = fig.add_subplot(1,2,2) #1의 2열의 두번째

sns.regplot(x='age', y='fare', data=titanic, ax=ax1)
sns.regplot(x='age',y='fare', data=titanic, ax=ax2, fit_reg=False)

plt.show()

In [ ]:
fig = plt.figure(figsize=(15,5)) #전체 사이즈

ax1 = fig.add_subplot(1,3,1)
ax2 = fig.add_subplot(1,3,2)
ax3 = fig.add_subplot(1,3,3)


sns.distplot(titanic['fare'],ax=ax1)
sns.distplot(titanic['fare'],hist=False,ax=ax2)
sns.distplot(titanic['fare'], kde=False,ax=ax3)

ax1.set_title('titanic fare - hist/ked')
ax2.set_title('titanic fare - ked')
ax3.set_title('titanic fare - hist')

plt.show()

In [ ]:
sns.set_style('whitegrid')
fig = plt.figure(figsize=(15,5))
ax1 = fig.add_subplot(1,2,1)
ax2 = fig.add_subplot(1,2,2)
sns.stripplot(x='class', y='age', data=titanic, ax=ax1)
sns.swarmplot(x='class', y='age', data=titanic, ax=ax2)

ax1.set_title('Strip Plot')
ax2.set_title("Strip Plot")

plt.show()

In [ ]:
fig = plt.figure(figsize=(15,5))
ax1 = fig.add_subplot(1,3,1)
ax2 = fig.add_subplot(1,3,2)
ax3 = fig.add_subplot(1,3,3)

sns.barplot(x='sex', y='survived', data=titanic, ax=ax1)
sns.barplot(x='sex', y='survived', hue='class', data=titanic, ax=ax2)
sns.barplot(x='sex', y='survived', hue='class', dodge=False, data=titanic, ax=ax3)

ax1.set_title('titanic survived - sex')
ax2.set_title("titanic survived - sex/class")
ax3.set_title("titanic survived - sex/class(stacked)")
plt.show()

In [ ]:
fig = plt.figure(figsize=(15,5))
ax1 = fig.add_subplot(1,3,1)
ax2 = fig.add_subplot(1,3,2)
ax3 = fig.add_subplot(1,3,3)

sns.countplot(x='class', palette='Set1', data=titanic, ax=ax1)

sns.countplot(x='class', hue='who',palette='Set2', data=titanic, ax=ax2)
sns.countplot(x='class', hue='who', palette='Set3', dodge=False, data=titanic, ax=ax3)

ax1.set_title('titanic class')
ax2.set_title("titanic class - who")
ax3.set_title('titanic class - who(stacked')

plt.show()

In [ ]:
fig = plt.figure(figsize=(15,10))
ax1 = fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
ax4 = fig.add_subplot(2,2,4)

sns.boxplot(x='alive', y='age', data=titanic, ax=ax1)
sns.boxplot(x='alive', y='age', hue='sex', data=titanic, ax=ax2)
sns.violinplot(x='alive', y='age', data=titanic, ax=ax3)
sns.violinplot(x='alive', y='age', hue='sex', data=titanic, ax=ax4)

plt.show()

In [ ]:
import folium
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start=12)
seoul_map.save('./seoul.html')

In [ ]:
import folium
seoul_map2 = folium.Map(location=[37.55, 126.98],tiles='Stamen Terrain')
seoul_map3 = folium.Map(location=[37.55,126.98],tiles='Stamen Toner', zoom_start=15)

seoul_map3.save('./seoul.html')

In [ ]:
import pandas as pd
df = pd.read_excel("C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/서울지역 대학교 위치.xlsx")
seoul_map = folium.Map(location=[37.55, 126.98], tiles='Stamen Terrain', zoom_start=12,)

for name, lat,lng in zip(df.college, df.위도, df.경도):
    iframe = folium.IFrame(name, width=120, height=50)
    popup = folium.Popup(iframe, max_width=600)
    folium.Marker([lat,lng], popup=popup).add_to(seoul_map)

seoul_map.save('./seoul_colleges.html')

In [ ]:
df

In [ ]:
import json


file_path = 'C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/경기도인구데이터.xlsx'
df = pd.read_excel(file_path, index_col='구분')
df.columns=df.colums.map(str)
geo_path='C:/Users/gdevw/바탕 화면/ssac/ssac2/커리큘럼/002. 데이터분석/data/geo_path.json'
try:
    geo_data = json.load(open(geo_path,encoding='utf-8'))
except:
    geo_data = json.load(open(geo_path,encoding='utf-8-sig'))

g_map = folium.Map(location=[37.5502, 126.982], tiles='Stamen Terrain', zoom_start=9)

year = '2007'

folium.Choropleth(geo_data=geo_data, data=df[year], columns=[df.index, df[year]],fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.3, threshold_scale=[10000,100000,300000,500000,700000],key_on='feature.properties.name').add_to(g_map)

In [ ]:
def add_10(n):
    return n + 10
def add_two_obj(a,b):
    return a+b
print(add_10(10))
print(add_two_obj(10,10))

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
sr1 = df['age'].apply(add_10)
print(sr1.head())

In [ ]:
sr1 = df['age'].apply(add_10)
sr2 = df['age'].apply(add_two_obj,b=10)
print(sr2.head())

sr3 = df['age'].apply(lambda x: add_10(x))
print(sr3.head())

In [ ]:
import pandas as pd

pd.set_option('display.max_columns',10)
pd.set_option('display.max_colwidth',20)
pd.set_option('display.unicode.east_asian_width', True)

df1 = pd.read_excel('./stock price.xlsx')
df2 = pd.read_excel('./stock valuation.xlsx')

print(df1)
print(df2)

In [ ]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex','class','fare','survived']]

print('승객수:',len(df))
print(df.head())

grouped = df.groupby(['class'])
print(grouped)

In [ ]:
for key,group in grouped:
    print('* key: ', key)
    print('* number:',len(group))
    print(group.head())

In [ ]:
average = grouped.mean()
print(average)

In [ ]:
group3 = grouped.get_group('Third')
print(group3.head())

In [ ]:
grouped_two = df.groupby(['class','sex'])

for key, group in grouped_two:
    print('*key:',key)
    print('*group: ', len(group))
    print(group.head())
    print('\n')

In [ ]:
group3f = grouped_two.get_group(('Third','female'))
print(group3f.head())

In [ ]:
df = titanic.loc[:, ['age','sex','class','fare','survived']]

grouped = df.groupby(['class'])
std_all = grouped.std()

print(std_all)

In [ ]:
def min_max(x):
    return x.max() - x.min()

agg_minmax = grouped.agg(min_max)
print(agg_minmax.head())

In [ ]:
agg_all = grouped.agg(['min','max']) #min함수, max함수
print(agg_all.head())
print('\n')
agg_sep = grouped.agg({'fare':['min','max'], 'age': 'mean'}) #각 컬럼 별로 다르게 적용가능
print(agg_sep.head())

In [ ]:
age_mean = grouped.age.mean() #평균집계함수

In [ ]:
print(age_mean)
print('=======')
age_std = grouped.age.std()
print(age_std)
print('=======')
for key, group in grouped.age:
    group_zscore = (group-age_mean.loc[key])/age_std.loc[key]
    print('*origin:',key)
    print(group_zscore.head(3))
    print('\n')

In [ ]:
def z_score(x):
    return (x-x.mean())/x.std()

age_zscore = grouped.age.transform(z_score)
print(age_zscore.loc[[1,9,0]])
print('=======')
print(len(age_zscore))
print('=======')
print(age_zscore.loc[0:9])
print('=======')

print(type(age_zscore))

In [ ]:
grouped_filter= grouped.filter(lambda x: len(x) >= 200)
print(grouped_filter.head())
print('=======')
print(type(grouped_filter))